@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  @apply fixed top-0 left-0 h-screen w-screen overflow-y-auto overflow-x-hidden;
}

.btn {
  @apply rounded-md bg-none p-2 px-4 font-semibold hover:brightness-110;
}

.btn:disabled{
  @apply bg-gray-500 cursor-not-allowed;
}

.btn_primary,
.btn-primary {
  @apply bg-primary text-white;
}

.btn-light,
.btn_light {
  @apply bg-white text-primary;
}

.btn-dark,
.btn_dark {
  @apply bg-dark text-white;
}

.btn-accent,
.btn_accent {
  @apply bg-accent text-white;
}

.btn-cancel,
.btn_cancel {
  @apply bg-red-600 text-white;
}

.form-control {
  @apply flex flex-col justify-start gap-2;
}

.form-control-input {
  @apply h-full w-full rounded-md border-2 border-dark bg-dark bg-opacity-0 p-2 text-dark outline-none;
}
.form-control-input:focus {
  @apply bg-opacity-25;
}

.form-control-label {
  @apply font-semibold;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #e6e9f4;
}

::-webkit-scrollbar-thumb {
  background: #222222;
}
